@media (prefers-reduced-motion: no-preference) {
    .ReactLogo {
        animation: React-logo-spin infinite 2s linear;
    }
}

@keyframes React-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}


@media (prefers-reduced-motion: no-preference) {
    .FlutterLogo {
        animation: Flutter-logo-move infinite 0.5s alternate;
    }
}

@keyframes Flutter-logo-move {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }

}
