
.BackDrop {
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    will-change: opacity;
    height: 100%;
    overflow: visible;
    width: 100%;
    display: flex;
    justify-content: center;
    
}