.ModalStyle {
    position: relative;
    width: 50%;
    z-index: 100;
    background-color: white;
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
    .ModalStyle {
        position: relative;
        width: 100%;
        z-index: 100;
        background-color: white;
        border-radius: 20px; 
    }
}

.BackDrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}